/*html:not(.dark) body{
    background-color: hsla(352.71844660194176, 98%, 41%, 1);
    background-image: radial-gradient(circle at 40% 20%, hsla(28, 100%, 74%, 1) 0%, transparent 50%), radial-gradient(circle at 80% 0%, hsla(189, 100%, 56%, 1) 0%, transparent 50%), radial-gradient(circle at 0% 50%, hsla(355, 100%, 93%, 1) 0%, transparent 50%), radial-gradient(circle at 80% 50%, hsla(340, 100%, 76%, 1) 0%, transparent 50%), radial-gradient(circle at 0% 100%, hsla(22, 100%, 77%, 1) 0%, transparent 50%), radial-gradient(circle at 80% 100%, hsla(242, 100%, 70%, 1) 0%, transparent 50%), radial-gradient(circle at 0% 0%, hsla(343, 100%, 76%, 1) 0%, transparent 50%);
    background-blend-mode: normal, normal, normal, normal, normal, normal, normal;
}


 */


/*html:not(.dark) body {
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
}


 */


html:not(.dark) body {
    background-image: linear-gradient(109.6deg, rgba(112, 246, 255, 0.33) 11.2%,
    rgba(221, 108, 241, 0.26) 42%, rgba(229, 106, 253, 0.71) 71.5%, rgba(123, 183, 253, 1) 100.2%);
}