* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
button {
    font-family: inherit;
}

.galaxy {
    height: 800px;
    width: 800px;
    background-image: radial-gradient(#ffffff 1px, transparent 1px),
    radial-gradient(#ffffff 1px, transparent 1px);
    background-size: 50px 50px;
    background-position:
            0 0,
            25px 25px;
    position: absolute;
    z-index: -1;
    animation: twinkle 5s infinite;
}

@keyframes twinkle {
    0%,
    100% {
        opacity: 0.5;
    }
    50% {
        opacity: 1;
    }
}

.fancy-search__stardust,
.fancy-search__cosmic-ring,
.fancy-search__starfield,
.fancy-search__nebula {
    max-height: 70px;
    max-width: 314px;
    height: 100%;
    width: 100%;
    position: absolute;
    overflow: hidden;
    z-index: -1;
    border-radius: 12px;
    filter: blur(3px);
}

.fancy-search__input {
    border: none;
    width: 301px;
    height: 56px;
    border-radius: 10px;
    color: #a9c7ff;
    padding-inline: 59px;
    font-size: 18px;
}

.fancy-search__input {
    background-color: #fdf8ff;
}
.dark .fancy-search__input {
    background-color: #05071b;
}

    #fancy-search__search-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.fancy-search__input::placeholder {
    color: #6e8cff;
}

.fancy-search__input:focus {
    outline: none;
}

#fancy-search__main:focus-within > #fancy-search__input-mask {
    display: none;
}

#fancy-search__input-mask {
    pointer-events: none;
    width: 190px;
    height: 20px;
    position: absolute;
    background: linear-gradient(90deg, transparent, #ffffff);
    top: 18px;
    left: 70px;
}
.dark #fancy-search__input-mask {
    background: linear-gradient(90deg, transparent, #05071b);
}

#fancy-search__cosmic-glow {
    pointer-events: none;
    width: 30px;
    height: 20px;
    position: absolute;
    background: #4d6dff;
    top: 10px;
    left: 5px;
    filter: blur(20px);
    opacity: 0.8;
    transition: all 2s;
}

#fancy-search__main:hover > #fancy-search__cosmic-glow {
    opacity: 0;
}

.fancy-search__stardust {
    max-height: 63px;
    max-width: 307px;
    border-radius: 10px;
    filter: blur(2px);
}

.fancy-search__stardust::before {
    content: "";
    z-index: -2;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(83deg);
    position: absolute;
    width: 600px;
    height: 600px;
    background-repeat: no-repeat;
    background-position: 0 0;
    filter: brightness(1.4);
    background-image: conic-gradient(
            rgba(0, 0, 0, 0) 0%,
            #4d6dff,
            rgba(0, 0, 0, 0) 8%,
            rgba(0, 0, 0, 0) 50%,
            #6e8cff,
            rgba(0, 0, 0, 0) 58%
    );
    transition: all 2s;
}

.fancy-search__cosmic-ring {
    max-height: 59px;
    max-width: 303px;
    border-radius: 11px;
    filter: blur(0.5px);
}

.fancy-search__cosmic-ring::before {
    content: "";
    z-index: -2;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(70deg);
    position: absolute;
    width: 600px;
    height: 600px;
    filter: brightness(1.3);
    background-repeat: no-repeat;
    background-position: 0 0;
    background-image: conic-gradient(
            #05071b,
            #4d6dff 5%,
            #05071b 14%,
            #05071b 50%,
            #6e8cff 60%,
            #05071b 64%
    );
    transition: all 2s;
}

.fancy-search__starfield {
    max-height: 65px;
    max-width: 312px;
}

.fancy-search__starfield::before {
    content: "";
    z-index: -2;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(82deg);
    position: absolute;
    width: 600px;
    height: 600px;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-image: conic-gradient(
            rgba(0, 0, 0, 0),
            #1c2452,
            rgba(0, 0, 0, 0) 10%,
            rgba(0, 0, 0, 0) 50%,
            #2a3875,
            rgba(0, 0, 0, 0) 60%
    );
    transition: all 2s;
}

#fancy-search__search-container:hover > .fancy-search__starfield::before {
    transform: translate(-50%, -50%) rotate(-98deg);
}

#fancy-search__search-container:hover > .fancy-search__nebula::before {
    transform: translate(-50%, -50%) rotate(-120deg);
}

#fancy-search__search-container:hover > .fancy-search__stardust::before {
    transform: translate(-50%, -50%) rotate(-97deg);
}

#fancy-search__search-container:hover > .fancy-search__cosmic-ring::before {
    transform: translate(-50%, -50%) rotate(-110deg);
}

#fancy-search__search-container:focus-within > .fancy-search__starfield::before {
    transform: translate(-50%, -50%) rotate(442deg);
    transition: all 4s;
}

#fancy-search__search-container:focus-within > .fancy-search__nebula::before {
    transform: translate(-50%, -50%) rotate(420deg);
    transition: all 4s;
}

#fancy-search__search-container:focus-within > .fancy-search__stardust::before {
    transform: translate(-50%, -50%) rotate(443deg);
    transition: all 4s;
}

#fancy-search__search-container:focus-within > .fancy-search__cosmic-ring::before {
    transform: translate(-50%, -50%) rotate(430deg);
    transition: all 4s;
}

.fancy-search__nebula {
    overflow: hidden;
    filter: blur(30px);
    opacity: 0.4;
    max-height: 130px;
    max-width: 354px;
}

.fancy-search__nebula:before {
    content: "";
    z-index: -2;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(60deg);
    position: absolute;
    width: 999px;
    height: 999px;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-image: conic-gradient(
            #000,
            #4d6dff 5%,
            #000 38%,
            #000 50%,
            #6e8cff 60%,
            #000 87%
    );
    transition: all 2s;
}

#fancy-search__wormhole-icon {
    position: absolute;
    top: 8px;
    right: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    max-height: 40px;
    max-width: 38px;
    height: 100%;
    width: 100%;
    isolation: isolate;
    overflow: hidden;
    border-radius: 10px;
    background: linear-gradient(180deg, #1c2452, #05071b, #2a3875);
    border: 1px solid transparent;
}

.fancy-search__wormhole-border {
    height: 42px;
    width: 40px;
    position: absolute;
    overflow: hidden;
    top: 7px;
    right: 7px;
    border-radius: 10px;
}

.fancy-search__wormhole-border::before {
    content: "";
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(90deg);
    position: absolute;
    width: 600px;
    height: 600px;
    background-repeat: no-repeat;
    background-position: 0 0;
    filter: brightness(1.35);
    background-image: conic-gradient(
            rgba(0, 0, 0, 0),
            #4d6dff,
            rgba(0, 0, 0, 0) 50%,
            rgba(0, 0, 0, 0) 50%,
            #6e8cff,
            rgba(0, 0, 0, 0) 100%
    );
    animation: rotate 4s linear infinite;
}

#fancy-search__main {
    position: relative;
}

#fancy-search__search-icon {
    position: absolute;
    left: 20px;
    top: 15px;
}

@keyframes rotate {
    100% {
        transform: translate(-50%, -50%) rotate(450deg);
    }
}

/* override page find */

/* hide clear */
.pagefind-ui__search-clear {
    display: none;
}

.dark .pagefind-ui__drawer {
    color: white;
}

.dark {
    --pagefind-ui-text: #FF37FFFF; /*var(--animation-color);*/
    --pagefind-ui-border: #51007e;
}

.pagefind-ui__form::before {
    display: none !important;
}

.dark .pagefind-ui__button {
    color: #FF37FFFF;
    background: black;
}

.dark .pagefind-ui__button:hover {
    color: #FF37FFFF;
    background: rgba(0, 0, 0, 0.68);
}